<div class="todos">
    <form (submit) = "Add()">
        <input type="text"
            name="inputToDo"
            placeholder="Enter todo..."
            class="todo-input"
            [(ngModel)]="inputToDo"
            maxlength="25"
            required="required"
        />
        <input type="submit" value="add todo" class="todo-submit"/>
    </form>
    <div class="todo" *ngFor="let todo of todos; let i = index ">
        <div class="id">{{i+1}}</div>
        <div class="content"><input type="text" placeholder="..." [(ngModel)]="todo.todo" #search (keydown.enter)="updateTodo(todo);search.blur()" class="todo-update"/></div>
        <button mat-button class="Complete">Complete</button>
        <button mat-button class="delete" (click)="openDialog(todo)">Remove</button>
    </div>
    <mat-paginator [length]="countTodo"
            [pageSize]="pageSize"
            (page)="updatePageIndex($event)"
            aria-label="Select page">
    </mat-paginator>
</div>
    